@tailwind base;
@tailwind components;
@tailwind utilities;

/* ant design message class */
/* Custom CSS for Ant Design message with custom-class */
.custom-class {
  position: fixed;
  left: 50%; /* Centering horizontally */
  transform: translateX(-50%); /* Correct offset for true centering */
  z-index: 1000; /* Ensures it's on top of other content */
  min-width: 200px; /* Minimum width of the message box */
  max-width: 90%; /* Maximum width to maintain reasonable sizing */
}

.project-card {
  cursor: pointer;
  background-color: white; /* Default background color */
}

.project-card:hover {
  transform: scale(1.05); /* Scale the card on hover */
  background-color: #f0f0f0; /* Grayish background on hover */
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}